body {
  background-image: url("/public/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden !important; }

.justify-text {
  text-align: justify !important;
  text-justify: inter-word !important; }

brand-whileloop:before {
  content: "whileLOOP";
  color: #8f3dae;
  font-weight: bold; }

.animation-fade-in {
  animation: fadeIn 0.5s forwards; }

.animation-fade-out {
  animation: fadeOut 0.5s forwards; }

i.material-icons {
  outline: 0;
  user-select: none; }

.facebook-support-chat {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  margin: 0 10px;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.25);
  z-index: 10000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s linear; }
  .facebook-support-chat .fb-support-header {
    display: flex;
    flex-direction: row;
    background-color: #8f3dae;
    padding: 5px 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .facebook-support-chat .fb-support-header span {
      flex: 1; }
    .facebook-support-chat .fb-support-header i {
      cursor: pointer;
      color: #ccc;
      transition: all 0.2s linear; }
      .facebook-support-chat .fb-support-header i:hover {
        color: #ccc !important; }
      .facebook-support-chat .fb-support-header i:active {
        color: #dc3545 !important; }

.help-box {
  position: fixed;
  bottom: 0;
  background-color: #8f3dae;
  margin: 15px;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0;
  box-shadow: 0 3px 6px 0 rgba(168, 168, 168, 0.9); }
  .help-box:hover .help-label {
    width: 50px;
    opacity: 1 !important;
    font-size: 14px; }
  .help-box:active {
    background-color: #703088; }
  .help-box .help-label {
    text-align: center;
    width: 0;
    opacity: 0;
    transition: all 0.2s linear; }

.loading-screen {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("/public/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loading-screen .logo {
    height: 40px; }
  .loading-screen .loading-text {
    font-size: 10px;
    text-align: center;
    color: #aaa;
    max-width: 450px; }
  .loading-screen .loader-container {
    margin: 20px;
    height: 4px;
    width: 300px;
    background: #edddf3;
    border-radius: 10px;
    position: relative; }
    .loading-screen .loader-container .loader-bouncer {
      background-color: #8f3dae;
      width: 40px;
      height: 4px;
      position: absolute;
      left: 10px;
      transform: skewX(45deg);
      animation: mymove 0.8s infinite ease-in-out alternate; }

body {
  padding: 0;
  margin: 0; }

@keyframes mymove {
  0% {
    left: 0;
    width: 120px; }
  100% {
    left: 180px;
    width: 120px; } }

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .login-page .stat-corner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    top: -60px;
    left: 10px;
    margin: 10px 10px;
    font-size: 10px;
    color: #666; }
    .login-page .stat-corner div.row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .login-page .stat-corner div.row i {
        margin: 0 10px; }
  .login-page div.login-card.card {
    width: 600px !important; }
  @media only screen and (max-width: 500px) {
    .login-page div.login-card.card {
      margin: 15vh 10px 0 10px !important;
      width: 18rem !important; } }
  .login-page .card-body .alert.alert-warning {
    font-size: 12px; }
  .login-page .card-body .card-subtitle {
    font-size: 10px;
    margin: -10px 0; }
  .login-page .card-body p {
    font-size: 12px;
    color: #666; }
  .login-page .card-body .fb-like {
    width: 100%;
    margin-top: 15px; }
  .login-page .card-body .fb-login-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

#routeView {
  padding-top: 60px; }

.notification-system {
  z-index: 100;
  width: auto;
  max-height: 100vh;
  position: fixed;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-end; }

.notification-item-li {
  display: flex;
  list-style-type: none;
  transition: all 0.5s linear; }

.notification-box {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 80px;
  width: 350px;
  margin: 0 10px 15px 0;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(168, 168, 168, 0.5);
  transition: all 0.2s linear; }

.notification-box:hover {
  box-shadow: 0 0 15px 0 rgba(100, 100, 100, 0.8); }

.notification-box-panel-a {
  flex: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd700;
  padding-top: 16px;
  color: #000; }

.notification-box-panel-b {
  border-radius: 5px;
  flex: 10;
  display: flex;
  flex-direction: column; }

.notification-box-header {
  position: relative;
  padding: 10px 15px 5px 15px;
  font-weight: bold;
  display: inline-flex; }

.notification-box-body {
  color: #333;
  font-size: 12px;
  display: inline-flex;
  padding: 0 15px 15px 15px; }

.notification-close {
  color: #ccc;
  transition: all 0.2s linear;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px; }

.notification-close:hover {
  color: #f00;
  text-shadow: 0 0 5px rgba(168, 0, 0, 0.5); }

.dissmisser {
  animation: notificationOut 0.5s 1;
  animation-fill-mode: forwards; }

.notification-joiner {
  animation: notificationIn 0.5s 1;
  animation-fill-mode: forwards; }

@keyframes notificationOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    max-height: 500px; }
  100% {
    opacity: 0;
    max-height: 0; } }

@keyframes notificationIn {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

.hiddenElements {
  display: none; }

.page-header-main-root {
  z-index: 999999; }
  .page-header-main-root .page-header-root-lg {
    background-color: #2b3a48 !important;
    display: flex;
    flex-direction: row; }
    .page-header-main-root .page-header-root-lg .page-header-box-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px; }
      .page-header-main-root .page-header-root-lg .page-header-box-left .logo-banner {
        margin-top: 10px;
        font-size: 1em; }
      .page-header-main-root .page-header-root-lg .page-header-box-left .powered-by {
        margin-top: -0.6em;
        font-size: 0.5em;
        width: 100%;
        text-align: right;
        padding-right: 2px; }
        .page-header-main-root .page-header-root-lg .page-header-box-left .powered-by brand-whileloop:before {
          color: #8f3dae !important; }
    .page-header-main-root .page-header-root-lg .page-header-box-middle {
      flex: 1; }
    .page-header-main-root .page-header-root-lg .page-header-box-right {
      margin-right: 20px; }
      .page-header-main-root .page-header-root-lg .page-header-box-right .more-button {
        background-color: #434e59; }
    .page-header-main-root .page-header-root-lg .page-header-user-root {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 8px 5px 8px 5px;
      padding: 0 5px 0 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.2s linear; }
      .page-header-main-root .page-header-root-lg .page-header-user-root:hover {
        background-color: #182028; }
      .page-header-main-root .page-header-root-lg .page-header-user-root img {
        height: 38px;
        width: 38px;
        object-fit: cover;
        border-radius: 40px; }
      .page-header-main-root .page-header-root-lg .page-header-user-root .user-data-box {
        margin: 0 10px; }
        .page-header-main-root .page-header-root-lg .page-header-user-root .user-data-box .user-data-name {
          font-weight: bold;
          font-size: 16px; }
        .page-header-main-root .page-header-root-lg .page-header-user-root .user-data-box .user-data-role {
          font-size: 12px;
          color: #eee;
          margin-top: 0px; }

.page-header-top-content {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0; }

@media only screen and (max-width: 600px) {
  .page-header-root-lg .user-data-box {
    display: none !important; } }

.sidebar {
  background-color: #2b3a48; }
  .sidebar md-content {
    background-color: #2b3a48; }
    .sidebar md-content .sidebar-header {
      display: flex;
      flex-direction: row; }
      .sidebar md-content .sidebar-header span {
        flex: 1; }
      .sidebar md-content .sidebar-header i {
        color: black;
        border-radius: 100px;
        padding: 5px;
        transition: all 0.2s linear;
        cursor: pointer; }
        .sidebar md-content .sidebar-header i:hover {
          color: white;
          background-color: #dc3545; }
    .sidebar md-content .page-header-user-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 5px 8px 5px;
      padding: 0 5px 0 5px;
      border-radius: 5px;
      transition: all 0.2s linear; }
      .sidebar md-content .page-header-user-root img {
        height: 128px;
        width: 128px;
        object-fit: cover;
        border-radius: 128px;
        margin: 10px; }
      .sidebar md-content .page-header-user-root .user-data-box {
        text-align: center;
        margin: 0 10px; }
        .sidebar md-content .page-header-user-root .user-data-box .user-data-name {
          color: #f8f8f8;
          font-weight: bold;
          font-size: 16px; }
        .sidebar md-content .page-header-user-root .user-data-box .user-data-role {
          font-size: 12px;
          color: #ccc;
          margin-top: -4px; }
    .sidebar md-content .sidebar-button-collection {
      margin: 10px 0; }
      .sidebar md-content .sidebar-button-collection .sidebar-button-header {
        color: #868e96;
        padding: 5px 0;
        font-size: 12px;
        font-weight: bold; }
      .sidebar md-content .sidebar-button-collection .sidebar-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        margin: 0 -16px;
        padding: 10px 16px;
        cursor: pointer; }
        .sidebar md-content .sidebar-button-collection .sidebar-button i {
          padding: 0 10px 0 0; }
        .sidebar md-content .sidebar-button-collection .sidebar-button:hover {
          background-color: #24323f !important; }
        .sidebar md-content .sidebar-button-collection .sidebar-button:active {
          background-color: #304150 !important; }

.registration-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .registration-container .registration-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 650px;
    margin: 25px;
    background-color: #ffffff; }
    .registration-container .registration-box .steps-root {
      display: flex;
      flex-direction: row;
      padding: 10px 10px; }
      .registration-container .registration-box .steps-root .step-box {
        margin: 5px;
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: #e2e2e2;
        transition: all 0.2s linear;
        max-width: 120px; }
        .registration-container .registration-box .steps-root .step-box.blocked {
          background-color: #dc3545;
          border-color: #dc3545; }
          .registration-container .registration-box .steps-root .step-box.blocked .step-name {
            color: #ffffff; }
          .registration-container .registration-box .steps-root .step-box.blocked .step-desc {
            color: #eee; }
        .registration-container .registration-box .steps-root .step-box.pending {
          background-color: #ffc107;
          border-color: #ffc107; }
          .registration-container .registration-box .steps-root .step-box.pending .step-name {
            color: #000000; }
          .registration-container .registration-box .steps-root .step-box.pending .step-desc {
            color: #666; }
        .registration-container .registration-box .steps-root .step-box.completed {
          background-color: #28a745;
          border-color: #28a745; }
          .registration-container .registration-box .steps-root .step-box.completed .step-name {
            color: #ffffff; }
          .registration-container .registration-box .steps-root .step-box.completed .step-desc {
            color: #eee; }
        .registration-container .registration-box .steps-root .step-box.active {
          background-color: #007bff;
          border-color: #007bff; }
          .registration-container .registration-box .steps-root .step-box.active .step-name {
            color: #ffffff; }
          .registration-container .registration-box .steps-root .step-box.active .step-desc {
            color: #eee; }
        .registration-container .registration-box .steps-root .step-box .step-name {
          font-weight: bold;
          font-size: 0.8em;
          color: #333; }
        .registration-container .registration-box .steps-root .step-box .step-desc {
          color: #7c7c7c;
          font-size: 0.6em;
          line-height: 1.2em; }
    .registration-container .registration-box .content {
      margin: 5px 20px 20px 20px; }
      .registration-container .registration-box .content > div {
        display: none; }
      .registration-container .registration-box .content > div.active {
        display: block; }
      .registration-container .registration-box .content .title {
        font-size: 1.4em; }
      .registration-container .registration-box .content .text {
        font-size: 0.8em;
        margin: 5px 0;
        text-align: justify; }
      .registration-container .registration-box .content .action-buttons {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        .registration-container .registration-box .content .action-buttons button {
          margin: 0 0 0 5px; }
      .registration-container .registration-box .content .input-group.index-number {
        margin: 20px 0; }
        .registration-container .registration-box .content .input-group.index-number input {
          padding: 15px;
          height: 60px; }
          .registration-container .registration-box .content .input-group.index-number input:valid {
            font-size: 2em; }
        .registration-container .registration-box .content .input-group.index-number span {
          width: 220px;
          margin: 18px 0 0 -220px;
          padding: 0 20px;
          font-weight: bold;
          font-size: 16px;
          justify-content: flex-end;
          z-index: 100;
          display: flex;
          flex-direction: row; }
          .registration-container .registration-box .content .input-group.index-number span i {
            margin: 0 5px; }
          .registration-container .registration-box .content .input-group.index-number span.available {
            color: #28a745; }
          .registration-container .registration-box .content .input-group.index-number span.not-found {
            color: #dc3545; }
          .registration-container .registration-box .content .input-group.index-number span.conflict {
            color: #ffc107; }
          .registration-container .registration-box .content .input-group.index-number span.checking {
            color: #17a2b8; }
      .registration-container .registration-box .content .input-group span input {
        margin: 0 12px 0 0; }
      .registration-container .registration-box .content .alert {
        margin: 20px 0; }
      .registration-container .registration-box .content table {
        margin: 0 20px;
        font-size: 0.8em; }
        .registration-container .registration-box .content table tr td:nth-child(1) {
          font-weight: bold;
          color: #999;
          width: 160px; }
        .registration-container .registration-box .content table tr td {
          vertical-align: top; }
          .registration-container .registration-box .content table tr td a {
            display: block; }

#mainsearch {
  position: relative;
  top: 12px;
  left: calc(50vw - 200px);
  width: 400px; }

.mainsearch {
  position: absolute; }

@media only screen and (max-width: 1200px) {
  #mainsearch {
    display: none; } }

.navigation-indicator {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .navigation-indicator .md-container.md-mode-indeterminate {
    background-color: #ffc107;
    box-shadow: 0 0 25px 0 rgba(168, 168, 168, 0.9); }
    .navigation-indicator .md-container.md-mode-indeterminate .md-bar {
      background-color: #dc3545; }
  .navigation-indicator .navigation-text {
    background-color: #ffc107;
    padding: 2px 15px 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 25px 0 rgba(168, 168, 168, 0.9); }
    .navigation-indicator .navigation-text i {
      margin: 0 5px 0 0; }

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0 !important; }
  to {
    opacity: 1;
    max-height: 100em !important; } }

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 100em !important; }
  to {
    opacity: 0;
    max-height: 0 !important; } }

.loading-indicator-cmp {
  padding: 10px; }
  .loading-indicator-cmp path {
    stroke: #007bff !important; }
  .loading-indicator-cmp .info-text {
    margin: 15px;
    color: #4c4c4c;
    font-size: 0.8em; }
