@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0 !important;
  }
  to {
    opacity: 1;
    max-height: 100em !important;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 100em !important;
  }
  to {
    opacity: 0;
    max-height: 0 !important;
  }
}