body{
  background-image: url('/public/img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden !important;
}

.justify-text {
  text-align: justify !important;
  text-justify: inter-word !important;
}

brand-whileloop:before {
  content: "whileLOOP";
  color: $whileloop-purple;
  font-weight: bold;
}

.animation-fade-in {
  animation: fadeIn 0.5s forwards;
}

.animation-fade-out {
  animation: fadeOut 0.5s forwards;
}

i.material-icons{
  outline: 0;
  user-select: none;
}