body{
  background-image: url('/public/img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden !important;
}

.justify-text {
  text-align: justify !important;
  text-justify: inter-word !important;
}

brand-whileloop:before {
  content: "whileLOOP";
  color: $whileloop-purple;
  font-weight: bold;
}

.animation-fade-in {
  animation: fadeIn 0.5s forwards;
}

.animation-fade-out {
  animation: fadeOut 0.5s forwards;
}

i.material-icons{
  outline: 0;
  user-select: none;
}

.highlight{
  color: black;
  padding : 1px;
  background: #ffff00;
  border: 1px solid red;
  border-radius: 2px;
  margin: -1px;
}

button.iconed{
  margin: 0 5px 0 0;
  display: flex;
  cursor: pointer;

  i{
    margin: 0 10px 0 0;
  }

  &:first-of-type{
    margin-left: 20px;
  }
}