$bootstrap-color-primary : #007bff;
$bootstrap-color-secondary : #868e96;
$bootstrap-color-success : #28a745;
$bootstrap-color-danger : #dc3545;
$bootstrap-color-warning : #ffc107;
$bootstrap-color-info : #17a2b8;
$bootstrap-color-light : #f8f9fa;
$bootstrap-color-dark : #343a40;

$white : #ffffff;
$white-ccc : #ccc;
$black : #000000;
$info-text: #aaa;

$whileloop-purple : #8f3dae;
$sidebar-background : #2b3a48;

$default-background: url('/public/img/background.svg') no-repeat fixed center;