<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="cdn/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/styles.css" rel="stylesheet">
    <title>System maintenance in progress</title>
</head>
<body>
    <div class="container maintenance-page">
        <img src="https://cdn3.iconfinder.com/data/icons/luchesa-vol-9/128/Html-512.png">
        <p class="notice">Sorry! We are down for maintenance</p>
        <div class="info-box">
            <p class="message">
                <%=message%>
            </p>
            <p class="admin-name"><%=adminName%></p>
        </div>
        <p class="contact">
            Contact Team whileLOOP for further details
        </p>
    </div>
</body>
</html>