<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="cdn/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>UCSC Result Centers - PM2 Status</title>
</head>
<body>
    <pre style="line-height: 1.2"><%=status%></pre>
</body>
</html>