.admin-members{
  .no-events{
    margin: 60px 0;
  }

  .control-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    & > div{
      padding-left: 10px;
    }

    input{
      padding-left: 10px;
    }
  }

  .md-list-item-text{
    h5{
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }

    h6{
      font-size: 12px;
      color: #333;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }

    p{
      font-size: 10px;
      margin: 0;
      padding: 0;
      line-height: 16px;
      color: #6c6c6c;
    }
  }
}