.send-feedback-page{
  margin-top: 60px;
  .card{
    padding: 20px 30px;

    .option{
      padding:0;
      .title{
        padding:0;
      }

      .description{
        padding:0;
      }
    }
  }
}