.sidebar {
  background-color: $sidebar-background;

  md-content {
    background-color: $sidebar-background;

    .sidebar-header {
      display: flex;
      flex-direction: row;

      span {
        flex: 1;
      }

      i {
        color: darken(#2b3a48, 30%);
        border-radius: 100px;
        padding: 5px;
        transition: all 0.2s linear;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: $bootstrap-color-danger;
        }
      }
    }

    .page-header-user-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 5px 8px 5px;
      padding: 0 5px 0 5px;
      border-radius: 5px;
      transition: all 0.2s linear;

      img {
        height: 128px;
        width: 128px;
        object-fit: cover;
        border-radius: 128px;
        margin: 10px;
      }

      .user-data-box {
        text-align: center;
        margin: 0 10px;

        .user-data-name {
          color: #f8f8f8;
          font-weight: bold;
          font-size: 16px;
        }
        .user-data-role {
          font-size: 12px;
          color: #ccc;
          margin-top: -4px;
        }
      }
    }

    .sidebar-button-collection {
      margin: 10px 0;

      .sidebar-button-header {
        color: #868e96;
        padding: 5px 0;
        font-size: 12px;
        font-weight: bold;
      }

      .sidebar-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        margin: 0 -16px;
        padding: 10px 25px;
        cursor: pointer;

        i {
          padding: 0 10px 0 0;
        }

        &:hover {
          background-color: #24323f !important;
        }

        &:active {
          background-color: #304150 !important;
        }
      }
    }
  }
}